{{ define "base"}}
    <!doctype html>
    <html lang="es">
    <head>
        {{block "head" .}}

        {{end}}
        <link rel="stylesheet" href="/static/styles.css"/>
        <meta name="title" content="Web 6 am">
        <meta name="description" content="Compilamos informacion mas relevante y te la traemos">

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta property="og:title" content="Web 6 AM"/>
        <meta property="og:description" content="La web para mentenerte informado"/>
        <meta property="og:url"
              content="https://web6am.com"/>
        <meta property="og:type" content="website">
        <meta property="og:image" itemprop="image" content="/static/android-chrome-512x512.png"/>

        <meta property="twitter:card" content="Web6am">
        <meta property="twitter:url" content="https://web6am.com/">
        <meta property="twitter:title" content="La mejor web de noticias">
        <meta property="twitter:description" content="Tus noticias de todos lados, en un solo lugar">
        <meta property="twitter:image" content="/static/android-chrome-512x512.png">

        <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">

        <script src="/static/js/load.js"></script>
        <title>Tus noticias</title>
        {{ block "css" .}}

        {{ end }}
    </head>
    <body>
    {{ block "content" . }}

    {{ end }}
    <footer>
        <div class="container">
            <span class="text-muted">© 2023 Copyright: Tomasito</span>
            <br>
            <span class="text-muted">home</span>
            <span class="text-muted">about</span>
            <span class="text-muted">contact</span>
        </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous">
    </script>
    {{ block "js" .}}
    {{ end }}
    </body>
    </html>
{{ end }}