{{template "base" .}}
{{define "content"}}
    <div id="news">
        <h1 class="title">Noticias de las últimas 24 horas</h1>

        <h3 class="subtitle">Estás leyendo para {{.Locations}}</h3>

        <div class="container" id="newsFeed">
            {{range $article := .Articles}}
                <div class="card">
                    <div class="card-container">
                        <h2 class="card-title">
                            {{ $article.Title }}
                        </h2>
                        <div class="card-description">
                            {{ $article.Description}}
                        </div>
                        <div class="card-content">
                            {{ $article.RawContent | Cut}}
                        </div>
                        <div class="card-footer">
                            <div class="card-category">
                                {{ $article.Categories }}
                                {{ $article.Location }}
                            </div>
                            <span class="card-time">
                            {{$article.Since}}
                        </span>
                        </div>
                        <a class="card-link" href="/news/{{$article.Title | MakeSlug}}/{{$article.UID}}"></a>
                    </div>
                </div>
            {{else}}
                <h3>No hay noticias para esa localidad</h3>
                    <a href="/">Volver</a>
            {{end}}
        </div>
    </div>
{{end}}