{{template "base" .}}
{{define "css"}}
<link rel="stylesheet" href="static/styles.css"/>
{{end}}
{{define "content"}}
<div class="feed">
                <div>
                    <h1 class="title">Noticias de las últimas 24 horas</h1>
                    <h3 class="subtitle">Estás leyendo para {{.FirstLocation}} y {{.SecondLocation}}</h3>
                </div>
                {{range $article := .Articles}}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                {{ $article.Title }}
                            </h2>
                            <span class="card-time">
                                hace 20 minutos
                            </span>
                        </div>
                        <div class="card-description">
                            {{ $article.Description}}
                        </div>
                        <div class="card-content">
                            {{ $article.Content | Cut}}
                        </div>
                        <div class="card-category">
                            #futbol
                        </div>
                        <div class="card-actions">
                            <a href="{{$article.Link}}" class="card-button">Ver más</a>
                        </div>
                    </div>
                {{end}}
</div>
{{end}}