{{template "base" .}}
{{define "content"}}
    <div id="top" class="row site">
        <div class="sm-12 md-12 col">
            <div class="paper container">
                <div class="text-center">
                    <h1>Noticias de las últimas 24 horas</h1>
                    <h3>Estás leyendo para {{.FirstLocation}} y {{.SecondLocation}}</h3>
                </div>
                {{range $article := .Articles}}
                    <div class="paper container margin-bottom-large shadow shadow-hover">
                        <h4>{{ $article.Title }} </h4>
                        <h5>{{ $article.Description}}</h5>
                        <p>{{ $article.Content | Cut}}</p>
                        <a href="{{$article.Link}}" class="paper-btn paper-btn btn-primary-outline">Ver más</a>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}