{{define "navbar"}}
    <nav class="navbar">
        <div class="navbar-content">
            <a href="/" class="navbar-logo">Inforia</a>
            <div class="search-container">
                <label>
                    <input type="text" class="search-input" hx-get="/search" hx-target="#news" method="get" name="q" placeholder="busca noticias" autocomplete="off">
                </label>
            </div>
            <div class="hamburger-menu">
                <div class="hamburger-icon" id="hamburger-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-items" id="menu-items">
                    {{if .IsLogged}}
                        <a href="/token" class="menu-item">Token</a>
                        <a href="#" class="menu-item" id="add-source-btn">Add a source</a>
                    {{else}}
                        <a href="/login" class="menu-item">Login</a>
                    {{end}}
                </div>
            </div>
        </div>
    </nav>

    <!-- Source Modal -->
    <div class="modal" id="source-modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h3>Add a Source</h3>

            <!-- Success message (hidden by default) -->
            <div id="success-message" class="success-message" style="display: none;">
                Source saved successfully!
            </div>

            <form id="source-form" >
                <label for="sourceUrl"></label>
                <input type="url" name="sourceUrl" id="sourceUrl" placeholder="Enter URL" required class="modal-input">
                <div class="form-actions">
                    <button type="submit" class="modal-button">
                        Add Source
                        <span class="spinner-container" id="spinner" style="display: none;">
            <svg class="spinner" viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
          </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{{end}}