{{define "navbar"}}
    <nav class="navbar">
        <div class="navbar-content">
            <a href="#" class="navbar-logo">Inforia</a>
            <div class="search-container">
                <label>
                    <input type="text" class="search-input"
                           hx-get="/search"
                           hx-target="#news"
                           method="get"
                           name="q"
                           placeholder="busca noticias"
                           autocomplete="off"
                    >
                </label>
            </div>
        </div>
    </nav>
{{end}}