{{template "base" .}}
{{define "head"}}
    <title>{{.Article.Title}}</title>
{{end}}
{{define "content"}}
    <article class="single-news">
        {{$article := .Article}}
        <h2>
            {{ $article.Title }}
        </h2>
        <div>
            {{ $article.Description}}
        </div>
        <div>
            {{ $article.Content}}
        </div>
    </article>
{{end}}
