{{template "base" .}}
{{define "css"}}
    <link rel="stylesheet" href="/static/styles.css"/>
{{end}}
{{define "content"}}
    <div class="single-news">
        {{$article := .Article}}
        <h2>
            {{ $article.Title }}
        </h2>
        <div>
            {{ $article.Description}}
        </div>
        <div>
            {{ $article.Content}}
        </div>
    </div>
{{end}}
