@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
/* Estilos generales */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
/
}

/* Estilos para el contenedor del feed de noticias */
.feed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

/* Estilos para los títulos */
.title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos para los subtítulos */
.subtitle {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Estilos para las tarjetas de noticias */
.card {
    width: 100%;
    max-width: 85%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilos para el título de la tarjeta de noticias */
.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    width: 95%;
    font-family: "Open Sans", sans-serif;
    color: #ad051d;
}

/* Estilos para la descripción de la tarjeta de noticias */
.card-description {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 3px;
    /*color: #452f2f;*/
    color: #361515;
    font-family: "Open Sans", sans-serif;
}

/* Estilos para el contenido de la tarjeta de noticias */
.card-content {
    padding: 5px;
    color: #777;
    margin-bottom: 3px;
    font-family: 'Noticia Text', serif;
}

.card-category {
    font-size: 14px;
    color: #65098c;
    margin: 0 0 10px 0;
}

.card-time {
    font-size: 14px;
    color: #180575;
    width: 45%;
    text-align: right;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-actions {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de la tarjeta de noticias */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #2d3e50; /* Detalles en azul oscuro */
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    align-items: center;
}

form label {
    margin-right: 10px;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #2d3e50; /* Dark blue */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
}

.single-news {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #eae3e3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: 'Noticia Text', serif;
    font-size: 18px;
    line-height: 1.9;
    color: #2d3e50;
}

.single-news h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ad051d;
}

footer {
    color: whitesmoke;
    background-color: #0d263d;
}
/* Estilos para pantallas pequeñas (móviles y tablets) */
@media screen and (max-width: 768px) {
    .feed {
        justify-content: center;
        padding: 10px 5px;
    }

    .card {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }

    form {
        flex-direction: column;
        align-items: stretch;
    }

    form label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    form input[type="text"] {
        margin-bottom: 5px;
    }

    form button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        align-self: stretch;
    }
}
